In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
import numpy as np

In [2]:
csv_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
iris = pd.read_csv(csv_url, header = None)
cols=["sepal_length", "sepal_width", "petal_length", "petal_width", "class"]
iris.columns = cols

In [3]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
sns.histplot(data = iris, x = 'sepal_length')

NameError: name 'sns' is not defined

In [ ]:
data = {'sepal_length' : ['5.1', '4.9', '4.7', '4.6', '5.0'],
     'sepal_width' : ['3.5', '3.0', '3.2', '3.1', '3.6'],
     'petal_length' : ['1.4', '1.4', '1.3', '1.5', '1.4'],
     'petal_width' : ['0.2', '0.2', '0.2', '0.2', '0.2']}
df = pd.DataFrame(data=data)

In [ ]:
df.head()

  sepal_length sepal_width petal_length petal_width
0          5.1         3.5          1.4         0.2
1          4.9         3.0          1.4         0.2
2          4.7         3.2          1.3         0.2
3          4.6         3.1          1.5         0.2
4          5.0         3.6          1.4         0.2

In [ ]:
#sum of sepal length, sepal width, petal length and petal width
dflist = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
df['results'] = df[dflist].sum(axis=1)
df

  sepal_length sepal_width petal_length petal_width       results
0          5.1         3.5          1.4         0.2  5.13.51.40.2
1          4.9         3.0          1.4         0.2  4.93.01.40.2
2          4.7         3.2          1.3         0.2  4.73.21.30.2
3          4.6         3.1          1.5         0.2  4.63.11.50.2
4          5.0         3.6          1.4         0.2  5.03.61.40.2

In [ ]:
#median of sepal length, sepal width, petal length and petal width
dflist = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
df['results'] = df[dflist].median(axis=1)
df

  sepal_length sepal_width petal_length petal_width  results
0          5.1         3.5          1.4         0.2     2.45
1          4.9         3.0          1.4         0.2     2.20
2          4.7         3.2          1.3         0.2     2.25
3          4.6         3.1          1.5         0.2     2.30
4          5.0         3.6          1.4         0.2     2.50

In [ ]:
#select and print the second and third columns of data frame
data = {'sepal_length' : ['5.1', '4.9', '4.7', '4.6', '5.0'],
     'sepal_width' : ['3.5', '3.0', '3.2', '3.1', '3.6'],
     'petal_length' : ['1.4', '1.4', '1.3', '1.5', '1.4'],
     'petal_width' : ['0.2', '0.2', '0.2', '0.2', '0.2']}
df = pd.DataFrame(data=data)

second_col  = df.iloc[:, 2]
third_col = df.iloc[:, 3]

print(second_col)
print(third_col)

0    1.4
1    1.4
2    1.3
3    1.5
4    1.4
Name: petal_length, dtype: object
0    0.2
1    0.2
2    0.2
3    0.2
4    0.2
Name: petal_width, dtype: object

In [ ]:
#select and print the first four rows of your data frame
data = {'sepal_length' : ['5.1', '4.9', '4.7', '4.6', '5.0'],
     'sepal_width' : ['3.5', '3.0', '3.2', '3.1', '3.6'],
     'petal_length' : ['1.4', '1.4', '1.3', '1.5', '1.4'],
     'petal_width' : ['0.2', '0.2', '0.2', '0.2', '0.2']}
df = pd.DataFrame(data=data)

print(df.iloc[0])
print(df.iloc[1])
print(df.iloc[2])
print(df.iloc[3])

sepal_length    5.1
sepal_width     3.5
petal_length    1.4
petal_width     0.2
Name: 0, dtype: object
sepal_length    4.9
sepal_width     3.0
petal_length    1.4
petal_width     0.2
Name: 1, dtype: object
sepal_length    4.7
sepal_width     3.2
petal_length    1.3
petal_width     0.2
Name: 2, dtype: object
sepal_length    4.6
sepal_width     3.1
petal_length    1.5
petal_width     0.2
Name: 3, dtype: object

In [ ]:
#median of sepal length
data = (4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0)

df = pd.DataFrame(data)

print(df.median())

0    6.25
dtype: float64

In [ ]:
#mode of sepal lenth
data = (4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0)

df = pd.DataFrame(data)
print(df.mode())

     0
0  4.5
1  5.0
2  5.5
3  6.0
4  6.5
5  7.0
6  7.5
7  8.0

In [ ]:
#sum of sepal length
data = (4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0)

df = pd.DataFrame(data)

print(df.sum())

0    50.0
dtype: float64

In [ ]:
#add one more feature

In [ ]:
#commit practice